body {
	background-color: grey;
	font-size: 16px;
	font-family: Verdana, Arial, sans-serif;
}
header {
	background-color: goldenrod;
	height: 200px;
	text-align: center;
	overflow:auto;
}
main {
	background-color: khaki;
	min-height: 500px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
article {
	flex: 1;
	margin: 0 50px;
}

h2 {
	margin-bottom:30px;
}

p {
	margin-bottom:30px;
}